*{
    border:solid 1px black;
    position: relative;
    background-color: rgb(235, 230, 250);
}

.left-content h2{
    font-size: 30px; 
    width:20px;
    display:inline;
}

.left-content h2 span{ 
    font-size: 5px;
    margin-left: 5px;
    display:inline;
}
.left-content h2{
    width:200px;
    font-weight: 200;
}
.outer-circle-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    width:100px; height:100px;
    border:solid 2px black;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-self: center; */
    text-align: center;
    /* right: 10px; */
    margin-top:0px;
    background-color: rgb(255, 255, 255);
}
.vertical{
    width: 20px;
    height: 200px;
    border-left:solid 2px black;
}

.address p{
    height:10px;width:150px;
    border-bottom:solid 2px black;
    line-height: 4px;
    position:relative;
    left:65%; top:30%;
}