*{
    /* border:solid 1px black; */
    position: relative;
    
}
body{
    background-color: rgb(247, 246, 246);
}
.left-content{
    display: table-cell;
    width:50%; 
    
}

.right-content{
    display: table-cell;
    width:50%;
   
}
.left-content h2{
    font-size: 15px; 
    width:20px;
    top: 3px;
    font-weight: 200;
    line-height: 30px;
}

.left-content h2 span{ 
    font-size: 30px;
    margin-left: 5px;
    
}

.outer-circle-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    width:100px; height:100px;
    border:solid 2px black;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:0px;
    background-color: rgb(248, 241, 241);
    left:20%; top:30px;
}
.vertical{
    width: 20px;
    height: 200px;
    border-left:solid 2px rgb(90, 85, 244);
    left:50px;bottom:3px;
    
}

.address p{
    height:10px;width:150px;
    border-bottom:solid 2px black;
    line-height: 4px;
    position:relative;
    left:400%; top:50%;
}
.postcard{
    border:solid 3px black;
    padding-left: 30px;
    padding-right:30px;
    padding-bottom:30px;
    background-color: rgb(248, 204, 204);
}